<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Home number:</strong>
  <%= @phone.home_number %>
</p>

<p>
  <strong>Cell number:</strong>
  <%= @phone.cell_number %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
